repos:
- repo: git://github.com/antonbabenko/pre-commit-terraform
  rev: v1.51.0
  hooks:
    - id: terraform_fmt
    - id: terragrunt_fmt
    - id: terraform_docs
      args: ['--args=--output-file README.md --output-mode inject']